.container__form {
    background:#fff;
    border-radius:20px;
    padding:200px 50px 50px;
    box-shadow:0 20px 60px 0 rgb(14 42 90 / 30%);

    label {
        display:block;
        font-size:14px;
        margin-bottom:5px;
        font-weight:500;
    }

    input {
        width:100%;
        border-radius:3px;
        border:1px solid #bbb;
        padding:10px 15px;
        font-size:16px;
        outline:none;
        margin-bottom:20px;
    }
}