.container__card {        
    width:400px;
    max-width:90%;
    margin:0 auto;

    .card {        
        position:relative;
        margin-bottom:-150px;   
        border:none;  
        background:transparent;
        
        .card__header {
            margin-bottom:40px;

            .card__header_chip {
                width:50px;
            }

            .card__header_operator {
                height:47px;
            }
        }

        .card__front {
            background:#aaa;
            background-size:cover;
            background-position:center;
            border-radius:20px;
            padding:30px; 
            box-shadow:0 20px 60px 0 rgb(14 42 90 / 30%);   
            transition:transform ease 1s;   
            overflow:hidden;
            position:relative;

            &:after {
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:rgba(0,0,0,.6);
            }
            
            &.flipped {
                transform:perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
            }

            .card__number {
                font-size:24px;
                margin-bottom:30px;
            }

            .card__name {
                text-transform:uppercase;
            }
        }      
        
        .card__back {
            background:blue;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            border-radius:20px;
            color:#fff;                              
            pointer-events:none;
            opacity:0;
            transform:perspective(1000px) rotateY(-180deg) rotateX(0deg) rotateZ(0deg);
            transition:transform ease 1s, opacity 0s ease .3s;   
            overflow:hidden;

            &:after {
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:rgba(0,0,0,.6);
            }

            &.flipped {
                opacity:1;
                pointer-events:all;
                transform:perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
            }

            .card__padding {
                padding:30px;
            }

            .card__black_target {
                width:100%;
                height:45px;
                background:rgba(0,0,0,0.8);
                margin-top:30px;
            }

            .card__cvv {
                width:100%;
                background:#fff;
                display:flex;
                align-items:center;
                justify-content:end;
                height:40px;
                border-radius:3px;
                position:relative;
                z-index:2;
                padding:0 10px;
                color:#222;
                font-size:13px;
            }

            .card__footer_operator {
                height:47px;
                position:relative;
                z-index:2;
                opacity:.7;
                margin-top:25px;
            }
        }    
        
        .card__header,
        .card__number,
        .card__name,
        .card__date {
            position:relative;
            z-index:2;
            color:#fff;
        }

        .card__date {
            min-height:24px;
        }
    }
}

@media screen and (max-width:990px){
    .container__card {
        .card {
            .card__header {
                margin-bottom:30px;

                .card__header_chip {
                    width:46px;
                }

                .card__header_operator {
                    height:44px;
                }
            }

            .card__front {
                .card__number {
                    margin-bottom:20px;
                    font-size:21px;
                }
            }

            .card__back {
                .card__black_target {
                    height:38px;
                }

                .card__cvv {
                    height:34px;
                }

                .card__footer_operator {
                    height:41px;
                }
            }
        }
    }
}